/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
/* Start code here */

.container {
    width: 1010px;
    margin: 0 auto;
    padding-left: 60px;
	padding-right: 60px;
}

header {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

.navigation {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.navigation a:hover{
    color: rgba(136, 94, 3, 0.762);
}

.presentation {
    display: flex;
    align-items: center;    
}

.presentation p {
    text-align: justify;
    font-size: 18px;
    letter-spacing: 1px;
}

.presentation p a{
    text-decoration: none;
    color: black;
}

.presentation p a:hover{
    color: rgba(136, 94, 3, 0.762);
}

.yessi {
    width: 400px;
    height: auto;
}

.seguros {
    margin-top: 40px;
}

.seguros h2{
    font-size: 20px;
}

.imagenes-seguros {
    width: 890px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}   

.image {
    width:300px;
    height: auto;
    padding: 20px;
}

.contact {
    padding-top: 40px;
}

